.big_content{
  color: white;
}

.header{
  background-image: url('../../../assets/flour/floor_header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.pattern_black{
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 25, 0.5);
}

.texts{
  height: 100%;
  justify-content: center;
  font-family: 'Italiana', serif;
}

.texts p:first-child{
  font-size: 60px;
}

.texts p:last-child{
  font-size: 20px;
}

.products{
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-family: 'Italiana', serif;
}

.col_back__img{
  position: relative;
  left: -20px;
}

.col_back__img .img{
  width: 75%;
  height: max-content;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 5px;
  height: 350px;
}

.col_back__img img{
  width: 70%;
  height: max-content;
  position: relative;
}

.text_button{
  position: relative;
  z-index: 2;
  border: 1px solid white;
  width: max-content;
  background-color: white;
  color: #0C0061;
  font-family: 'Italiana', serif;
  padding: 10px 20px;
}

.information_div{
  width: 200px;
  overflow-x: scroll;
  position: relative;
  top: -16px;
  right: -151px;
}

.information_div::-webkit-scrollbar{
  display: none;
}

@media only screen and (max-width: 992px) {
  .text_button{
    font-size: 14px;
  }

  .information_div{
    width: 200px;
    overflow-x: scroll;
    position: relative;
    top: 6px;
    right: -130px;
  }
}

@media only screen and (max-width: 760px) {
  .texts p:first-child{
    font-size: 40px;
  }

  .col_back__img .img{
    width: 60%;
    height: 300px;
    right: 50px;
  }
  
  .col_back__img img{
    width: 60%;
  }

  .col_back__img{
    left: -10px;
  }

  .text_button{
    font-size: 14px;
  }

  .information_div{
    width: 200px;
    overflow-x: scroll;
    position: relative;
    top: -25px;
    right: -119px;
  }
  .products{
    font-size: 32px;
  }
}

