.myrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.cols{
    width: 350px;
    height: 400px;
    
}
.colss{
    width: 350px;
    height: 400px;
    order: 2; 
}
.cols {
    width: 350px;
    height: 400px;
}
.cols img , .colss img{
    width: 350px !important;
    height: 300px;
    object-fit: contain;
}
.colss {
    width: 350px;
    height: 350px;
    float: right;
}
.cols1{
    width: 500px;
}
.cols1 p{
    padding: 50px 0;
    font-size: 18px;
    font-weight: lighter;
}


@media (max-width: 990px) {
    .cols{
        width: 300px;
    }
    .colss {
        width: 300px;
    }
}
@media (max-width: 750px ) {
    .cols {
        width: 280px;
    }
    .colss {
        width: 280px;
    }
    .colss{
        order: 0;
    }
    .cols img , .colss img{
        width: 300px !important;
        height: 300px;
        object-fit: contain;
    }
   
}
