.myrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.cols{
    width: 400px;
    height: 400px;
    
}
.colss{
    width: 400px;
    height: 400px;
    order: 2; 
}
.cols img{
    width: 400px;
}
.cols1{
    width: 500px;
}
.cols1 p{
    padding: 50px 0;
}

@media (max-width: 990px) {
    .cols img{
        width: 350px;
    }
    .colss img{
        width: 350px;
    }
}
@media (max-width: 750px ) {
    .cols img{
        width: 320px;
    }
    .colss img{
        width: 320px;
    }
}
