.big_content{
  color: white;
}

.products{
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-family: 'Italiana', serif;
}


.description {
  width: 100% !important;
  font-size: 17px;
  font-weight: lighter;
}


@media only screen and (max-width: 768px) {
  .products{
    font-size: 40px;
  }

  .description{
    font-size: 13px;
    line-height: 20px;
  }

  .content_top{
    flex-direction: column-reverse;
  }
}