.footer{
  background-color: #0C0061;
  padding-top: 10px;
  margin-top: 40px;
  height: auto;
}

.img_logo{
  height: 80px;
}

.bottom_div p{
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .foot{
    background-size: cover !important;
  }
  
}